* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 250px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.links {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

#header li a {
    color: #e5e7eb;
    font-size: 18px;
}

#header li {
    margin: 0 15px;
}

#section-one {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 250px;
    height: 600px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb
}

.hero-text button {
    background-color: #3882f6;
    border: none;
    padding: 8px 38px;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 20px;
}

.placeholder {
    background-color: #6D747D;
    font-size: 18px;
    color: #e5e7eb;
    padding: 130px 150px;
}

#section-two {
    height: 500px;
}

.info-header {
    text-align: center;
    margin-top: 60px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.ilustrations,
.subtext {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 35px;
}

.ilustrations {
    margin-top: 70px;
    margin-bottom: 25px;
}

.subtext {
    color: #85898b;
}

.ilustrations div {
    padding: 70px;
    border-radius: 8px;
    border-style: solid;
    border-color: #5081ce;
}

#section-three {
    background-color: #e5e7eb;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}

.author {
    text-align: right;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;

}